html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

body {
  font-family: var(--font-inter);
  background-color: var(--main-bg);
  color: var(--text-color);
  font-weight: 400;
}
