// ## Colors

:root {
  // toggle-color

  --toggle-bg-start: hsl(230, 22%, 74%);
  --toggle-bg-end: hsl(230, 22%, 74%);

  // primary

  --limeGreen: hsl(163, 72%, 41%);
  --brightRed: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  // neutral

  --main-bg: hsl(0, 0%, 100%);
  --main-bg-top: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-color: hsl(228, 12%, 44%);
  --figure-values: hsl(230, 17%, 14%);
}

[data-theme='dark'] {
  // toggle-color

  --toggle-bg-start: hsl(210, 78%, 56%);
  --toggle-bg-end: hsl(146, 68%, 55%);

  // primary

  --LimeGreen: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);

  //neutral

  --main-bg: hsl(230, 17%, 14%);
  --main-bg-top: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-color: hsl(228, 34%, 66%);
  --figure-values: hsl(0, 0%, 100%);
}
